force-app/main/default/flows/DSALES_Envidecorreoconcotizacin.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Quote.DSALES_Alertadecorreoparaelenvidecotizacin</name>
        <label>envió de cotización</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <actionName>Quote.DSALES_Alertadecorreoparaelenvidecotizacin</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Cotizaci_n_rechazada</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Cotizaci_n_rechazada</name>
        <label>Cotización rechazada</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Cotizaci_n_rechazadaa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DSALES_AdquiriopolizaSM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0128J0000008WYBQA2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cambiar_estatus</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Cotización rechazada</label>
        </rules>
    </decisions>
    <interviewLabel>Envió de correo con cotización {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Envió de correo con cotización</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>cambiar_estatus</name>
        <label>cambiar estatus</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Enviada</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>envi_de_cotizaci_n</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DSALES_AdquiriopolizaSM__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Quote</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
