force-app/main/default/flows/DSALES_Certificado_cambio_de_estatus_activado.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>DSALES_Actualizaci_n_de_estatus</name>
        <label>Actualización de estatus</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>DSALES_Certificado_activo.DSALES_Estatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DSALES_Certificado_actualizar</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Certificado cambio de estatus activado {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Certificado cambio de estatus activado</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>DSALES_Certificado_activo</name>
        <label>Certificado activo</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DSALES_Actualizaci_n_de_estatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.DSALES_Certificado__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DSALES_Certificado__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>DSALES_Certificado_actualizar</name>
        <label>Certificado actualizar</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <inputReference>DSALES_Certificado_activo</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DSALES_Certificado_activo</targetReference>
        </connector>
        <object>DSALES_InformacionDePago__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
