force-app/main/default/flows/DSALES_Certificado_Cancelado.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Decidirestatus</name>
        <label>Decidir estatus</label>
        <locationX>763</locationX>
        <locationY>524</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancelado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DSALES_Actualizarcertificado</targetReference>
            </connector>
            <label>Cancelado</label>
        </rules>
        <rules>
            <name>Devuelto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Devuelto</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DSALES_Actualizarcertificado_0</targetReference>
            </connector>
            <label>Devuelto</label>
        </rules>
    </decisions>
    <description>Cuando un producto adquirido se cancela o devuelve, de forma automática el certificado se pone en Cancelado/Devuelto.</description>
    <interviewLabel>Certificado Cancelado {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Certificado Cancelado</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Traer_certificado</name>
        <label>Traer certificado</label>
        <locationX>773</locationX>
        <locationY>364</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decidirestatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.DSALES_Certificado__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DSALES_Certificado__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>DSALES_Actualizarcertificado</name>
        <label>Actualizar certificado</label>
        <locationX>609</locationX>
        <locationY>594</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Traer_certificado.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DSALES_Estatus__c</field>
            <value>
                <stringValue>Cancelado</stringValue>
            </value>
        </inputAssignments>
        <object>DSALES_Certificado__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>DSALES_Actualizarcertificado_0</name>
        <label>Actualizar certificado</label>
        <locationX>913</locationX>
        <locationY>604</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Traer_certificado.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DSALES_Estatus__c</field>
            <value>
                <stringValue>Devuelto</stringValue>
            </value>
        </inputAssignments>
        <object>DSALES_Certificado__c</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Traer_certificado</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelado</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Devuelto</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Asset</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>tp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>o</stringValue>
        </value>
    </variables>
</Flow>
