force-app/main/default/flows/Envi_de_correo_en_las_etapas_de_siniestro.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Envi_de_correo_en_etapa_de_en_tramite</name>
        <label>Envió de correo en etapa de en tramite</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <actionName>Claim.DSALES_Informa_Siniestro_En_Tramite</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Envi_de_correo_en_etapa_nuevo</name>
        <label>Envió de correo en etapa nuevo</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Claim.Informa_Nuevo_Siniestro</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Envi_de_correo_en_etapa_pagado</name>
        <label>Envió de correo en etapa pagado</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <actionName>Claim.Informa_Siniestro_Completado</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Envi_de_correo_en_etapa_rechazado</name>
        <label>Envió de correo en etapa rechazado</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <actionName>Claim.Informa_Siniestro_Rechazado</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Etapas_de_siniestro</name>
        <label>Etapas de siniestro</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Nuevo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DSALES_Estatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nuevo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Envi_de_correo_en_etapa_nuevo</targetReference>
            </connector>
            <label>Nuevo</label>
        </rules>
        <rules>
            <name>En_tramite</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DSALES_Estatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En trámite</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Envi_de_correo_en_etapa_de_en_tramite</targetReference>
            </connector>
            <label>En tramite</label>
        </rules>
        <rules>
            <name>Pagado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DSALES_Estatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pagado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Envi_de_correo_en_etapa_pagado</targetReference>
            </connector>
            <label>Pagado</label>
        </rules>
        <rules>
            <name>Rechazado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DSALES_Estatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rechazado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Envi_de_correo_en_etapa_rechazado</targetReference>
            </connector>
            <label>Rechazado</label>
        </rules>
    </decisions>
    <description>Realiza el envió de un correos por cada etapa en que se encuentre el siniestro</description>
    <environments>Default</environments>
    <interviewLabel>Envió de correo en las etapas de siniestro {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Envió de correo en las etapas de siniestro</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Etapas_de_siniestro</targetReference>
        </connector>
        <object>Claim</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
