force-app/main/default/flows/Envi_de_correos_para_los_estatus_de_endosos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Envi_de_correo_en_etapa_completado</name>
        <label>Envió de correo en etapa completado</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <actionName>DSALES_Endoso__c.DSALES_Alerta_de_correo_de_cambio_de_estatus_a_completado</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Envi_de_correo_en_etapa_nuevo</name>
        <label>Envió de correo en etapa nuevo</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>DSALES_Endoso__c.DSALES_Endoso_Nuevo</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Envi_de_correo_en_etapa_rechazado</name>
        <label>Envió de correo en etapa rechazado</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <actionName>DSALES_Endoso__c.DSALES_Alerta_de_correo_de_cambio_de_estatus_a_rechazado</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Envi_de_correo_en_etapa_requerimiento_de_informaci_n</name>
        <label>Envió de correo en etapa requerimiento de información</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <actionName>DSALES_Endoso__c.DSALES_Alerta_de_correo_de_cambio_de_estatus_a_requerimiento_de_informaci_n</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Envi_de_correo_en_etapa_tramite</name>
        <label>Envió de correo en etapa tramite</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <actionName>DSALES_Endoso__c.DSALES_Alerta_de_correo_de_cambio_de_estatus_de_el_Endoso_a_tramite</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Etapa</name>
        <label>Etapa</label>
        <locationX>710</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Nuevo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DSALES_Estatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nuevo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Envi_de_correo_en_etapa_nuevo</targetReference>
            </connector>
            <label>Nuevo</label>
        </rules>
        <rules>
            <name>En_tramite</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DSALES_Estatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En tramite</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Envi_de_correo_en_etapa_tramite</targetReference>
            </connector>
            <label>En tramite</label>
        </rules>
        <rules>
            <name>Requerimiento_de_informaci_n</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DSALES_Estatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Requerimiento de Información</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Envi_de_correo_en_etapa_requerimiento_de_informaci_n</targetReference>
            </connector>
            <label>Requerimiento de información</label>
        </rules>
        <rules>
            <name>Autorizado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DSALES_Estatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Autorizado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Envi_de_correo_en_etapa_completado</targetReference>
            </connector>
            <label>Autorizado</label>
        </rules>
        <rules>
            <name>Rechazado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DSALES_Estatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rechazado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Envi_de_correo_en_etapa_rechazado</targetReference>
            </connector>
            <label>Rechazado</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Envió de correos para los estatus de endosos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Envió de correos para los estatus de endosos</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Etapa</targetReference>
        </connector>
        <object>DSALES_Endoso__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
